table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid ; color: #000;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #a3e1e8;
}
.calendar-controls {
    text-align: center;
    margin-bottom: 10px;
}
.calendar-controls button {
    padding: 5px 10px;
}
.TODAY {
   div{ float:left;}
   gap: 2rem;
}
.input-container {
    div{ float: left;}
    gap: 2rem;
}
.container {
    background-color: #a3e1e8;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}
.input-container { 
    width: 80%;
    display: flex;
    align-self: center;
    justify-content: space-between;
}
#input {
  width: 70%;
  /*height: 32px;*/
  /*font-size: 15px;*/
  border: 5px solid #000;
  border-radius: 20px;
  /*outline: none;*/
  padding: 8px 12px;
  background-color: hwb(176 91% 4%);
}
#add-button {
    width: 20%;
    background-color: hsl(343, 49%, 90%);
}


