table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid ; color: #aea48d;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #fff8df;
}
.calendar-controls {
    text-align: center;
    margin-bottom: 10px;
}
.calendar-controls button {
    padding: 5px 10px;
}
 
.today div{ float: left;}
.today {

   gap: 2rem;
}
.todobox {
    background-color: #fff8df;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}
.input-box div{ float: left;}
.input-box { 
    width: 80%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    gap: 2rem;
}
#input:focus {
    border-color: #8fc0ee;
    outline: none;
}
#input {
  width: 70%;
  /*height: 32px;*/
  /*font-size: 15px;*/
  border: 5px solid #aea48d;
  border-radius: 20px;
  /*outline: none;*/
  padding: 8px 12px;
  background-color: #feffe9;
}
#add-button {
    width: 20%;
    background-color: #e3dab7;
    border-radius: 15px;
    border: 5px solid #aea48d;
    color: white;
}
#add-button:hover {
    background-color: #8fc0ee;
}
.list-box {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    width: 80%;
    align-self: center;
    border-radius: 7px;
    border: 4px solid #aea48d;
    background-color: #feffe9;
    color: #020202;
}
h2 {
    padding: 16px 24px;
    margin: 0;
    font-size: 18px;
    border-bottom: 4px solid #aea48d;
}
#list {
    margin: 32px 0;
}
.list-item {
    border-bottom: 1px #060606;
    margin-right: 32px;
    padding: 16px 0;
    font-size: 15px;
}



