table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'GowunBatang-Regular';
}
th, td {
    border: 1px solid ; color: #aea48d;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #fff8df;
}
.calendar-controls {

   display: flex;
   justify-content: center;
 
    font-family: 'YClover-Bold';
}

#current-month{
    
    
}


/*.calendar-controls button.bntPush {
    padding: 5px 10px;
    font-family: 'YClover-Bold';
    background-color: #8fc0ee;
    color: #feffe9;
    border-color:#aea48d;
    box-shadow: chartreuse
}*/
/*.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
  }*/
/*.calendar-controls button.btnPush:hover {
    box-shadow: chartreuse
}*/
 
.today div{ float: left;}
.gap {
    padding-right: 10px;
}
.today {
   font-family: 'YClover-Bold';
   gap: 2rem;
   display: inline;
}

h1, .today {
    display: inline-block;
    

}
h1{
    padding-right: 20px;
    padding-left: 50px;
}
.todobox {
    background-color: #fff8df;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
}
.input-box div{ float: left;}
.input-box { 
    width: 80%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    gap: 2rem;
}
#input:focus {
    border-color: #8fc0ee;
    outline: none;
}
#input {
  width: 70%;
  /*height: 32px;*/
  /*font-size: 15px;*/
  border: 5px solid #aea48d;
  border-radius: 20px;
  /*outline: none;*/
  padding: 8px 12px;
  background-color: #feffe9;
}
#add-button {
    width: 20%;
    background-color: #e3dab7;
    border-radius: 15px;
    border: 5px solid #aea48d;
    color: white;
}
#add-button:hover {
    background-color: #8fc0ee;
}
.list-box {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    width: 80%;
    align-self: center;
    border-radius: 7px;
    border: 4px solid #aea48d;
    background-color: #feffe9;
    color: #020202;
}
h2 {
    padding: 16px 24px;
    margin: 0;
    font-size: 18px;
    border-bottom: 4px solid #aea48d;
}
#list {
    margin: 32px 0;
}
.list-item {
    border-bottom: 1px #060606;
    margin-right: 32px;
    padding: 16px 0;
    font-size: 15px;
    font-family: 'YClover-Bold';
    color:rgb(40, 149, 85);
}

@font-face {
    font-family: 'YClover-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.korean {
    font-family: 'YClover-Bold';
    color: rgb(40, 149, 85);
}

.button1 {
    display: block;
    position: relative;
    float:right;
    /*width 75px;*/
    padding: 5px 10px;
    margin: 10px 20px 10px 0;
    font-weight: 500;
    text-align: center;
    line-height: 33px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
    background: #00AE68;
  }
.clickmonth.btnPush {
    box-shadow: 0px 5px 0px 0px #007144;

  }
.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
  }
.clickmonth.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #007144;
}

.clickmonth.btnBorder {
    box-shadow: 0px 0px 0px 0px #21825B;
  }
  
.clickmonth.btnBorder:hover {
    box-shadow: 0px 0px 0px 5px #21825B;
  }






  
  
  